<header>
    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark text-white ">
        <a class="nav-link active" aria-current="page" href="/blog"><img src="https://cdn.worldvectorlogo.com/logos/insite-vision.svg" class="logoImg"></a>
        <div class="navbar-nav textsNavBar d-flex justify-content-center align-items-center">
            <a class="hoverWhite textown nav-link active text-secondary" aria-current="page" href="/blog">Home</a>
            <a class="hoverWhite textDown nav-link active text-secondary" aria-current="page" href="/admin">Administration</a>      
        </div>
      
      
    </nav>
</header>
